.container{
    border: 1px solid #8f8f8f;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 40px auto;
    border-radius: 6px;
    padding: 14px;
}
.container>input{
    margin: 5px 5px;
}
.container>textarea{
    margin: 5px;
    width: 432px;
    height: 49px;
}
.container>button{
    width: 20%;
    margin-left: 78%;
}